@import url('https://fonts.googleapis.com/css?family=Roboto');
body
    margin 0 !important
    padding 0
    background-color #f7f7f7
    width:100%
    margin: 0 auto
    background: #F7F7F7
    font-family: Arial;
    box-sizing: border-box

img
    border 0
    overflow: hidden;
.wrapper
    width 100%
    margin: 0 auto
td
  padding 0
  Margin 0
  vertical-align: middle;
table
  border-spacing: 0;
  font-family sans-serif

div[style*="margin&:16px0"]
    margin 0 !important

.wrapper
    width 100%
    table-layout fixed
    -webkit-text-size-adjust 100%
    -ms-text-size-adjust 100%

.webkit
    max-width 600px
    margin 0 auto

.container
  max-width 600px
  width 100%
  margin 0 auto
  display: table;
  &--header
    table
      padding: 0 5%;
  &--hello
    .inner-table
      padding: 0 5%

generate-grid(end)
  for x in 1..end
    .col-{x}
      width ((x*100)/end)+'%';
      padding 0 15px;

generate-grid(12)


/***===========================common start==========================**/
.center
  margin: 0 auto
  text-align: center
  // max-width: 600px;
.content-wrap
  padding 32px 10px 11px

.spacer-table
  background-color: #ffffff

  td
    padding-left: 22px
  td.pic
    padding-left: 0

.spacer
  width: 100%
  opacity: 0.05;
  border-top: 1px solid #000000;
  margin 0

.spacer-td
  padding 11px 23px 17px
.spacer-td2
  padding 0px 23px 16px
.gray
  opacity: 0.3;
.right
  text-align: right;

.blue
  color #0086E6  

.inline-block
  display inline-block
  vertical-align: top;
  width: 100%; 
/**========================common end=========================***/
/**========================header start=========================***/
.mail
  &__header
    background-color: #0086E6
    //padding: 0 15px;
    width: 100%
    td
      .container
        td
          //padding 20px 15px
          &.logo
            padding 20px 0
/**========================header end=========================***/
/**========================hello start=========================***/
.mail
  &__hello
    //padding: 10px 15px;
    background-color: #ffffff
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    width: 100%
    td
      &.check
        padding: 10px 0;
      &.hola
        padding: 10px 0 0
        letter-spacing: 1px;
        line-height: 12px;
      &.confirm
        font-size: 14px;
        padding: 4px 0 2px 0
        Margin: 0;
/**========================hello end=========================***/

/**========================content-main start=========================***/
.inner-top
  padding 0px 2px
  Margin: 0 auto;
.content-main
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  max-width: 540px;
  background-color: #ffffff;
  width 100%

.content-top
  //padding 24px 21px 0
  background-color: #ffffff
  .pic
    padding-top: 24px;
    //padding-left: 3px;
    padding-right 0
    width 41%
  .title
    line-height: 22px;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-top: 26px;
    padding-right: 0;
    padding-bottom: 4px;
  .desc
    color: #000000;
    opacity: 0.3;
    line-height: 21px;
    font-size: 14px;
    padding 0 0 0 0
  .help
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #000000;
    mix-blend-mode: normal;
    font-weight: 600;
    .time
      width 23px
      padding 3px 3px 3px 0
      & + td
        padding: 6px 0 7px 0px;
    .lang
      width 23px
      padding 20px 3px 7px 0
      & + td
        padding: 16px 0 7px 0px;
        letter-spacing: -1px;
    img 
      padding-right (22/6)+'%'

.content-middle
  //padding 0 21px 11px
  background-color: #ffffff
  width 100%
.info
  //line-height: 39px;
  font-size: 14px;
  text-align: left;
  color: #000000;
  td
    padding-bottom: 24px;
  &:nth-child(4)
    td
      padding-bottom: 17px;
  .left
    padding-left: 25px;
  .right
    padding-right: 17px;
.total
  line-height: 25px;
  font-size: 18px;
  .price
    color #0086E6
    padding 5px 18px 29px 2px
  .total-text
    padding 0px 21px 23px 23px

.title-inner
  max-width: 540px;
  td
    padding: 46px 0 17px
    line-height: 25px;
    font-size: 18px;

/**========================content-main end=========================***/


/**========================title-inner start=========================***/
.title-inner
  background-color transparent
  max-width: 540px;

/**========================title-inner end=========================***/

/**========================content-bottom end=========================***/

.content-bottom
  //padding 15px 0 12px
  background-color: #ffffff
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  max-width: 540px;
  width: 100%
  .info
    td
      padding-bottom 23px
      line-height: normal;
    .left
      padding 0 0 23px 21px
    .right
      padding: 0 17px 23px 0
    &:first-child
      td
        padding-top: 30px
    &:last-child
      td
        padding-bottom: 25px
/**========================content-bottom end=========================***/


/**========================message start=========================***/
.message
  td
    //padding: 33px 42px 10px 59px
    padding: 33px 10% 10px
    font-size: 14px;
    text-align: center;

/**========================message end=========================***/

/**========================footer start=========================***/
table
  &.footer
    width: 100%
    background-color: #0086E6
    border: 0.5px solid #FFFFFF;
    td
      line-height: 14px;
      font-size: 16px;
      color: #FFFFFF;
      text-align: center
      padding 23px 0
      font-weight: 500


/**========================footer end=========================***/

