@import url('https://fonts.googleapis.com/css?family=Roboto');
body
    margin 0 !important
    padding 0
    background-color #f7f7f7
    width:100%
    margin: 0 auto
    background: #F7F7F7
    font-family: Arial;
    box-sizing: border-box

img
    border 0

.wrapper
    width 100%
    margin: 0 auto

table
  //width 100%
.container
  max-width 600px
  width 100%
  margin 0 auto
  display: table;

generate-grid(end)
  for x in 1..end
    .col-{x}
      width ((x*100)/end)+'%';
      padding 0 15px;

generate-grid(12)


/***===========================common start==========================**/
.center
  margin: 0 auto
  text-align: center
  // max-width: 600px;
.content-wrap
  padding 27px 15px 6px

.spacer-table
  background-color: #ffffff

  td
    padding-left: 22px
  td.pic
    padding-left: 0

.spacer
  width: 100%
  opacity: 0.05;
  border-top: 1px solid #000000;
  margin 0

.spacer-td
  td
    padding 0px 17px 2px
.spacer-td2
  td
    padding 7px 0 11px
.gray
  opacity: 0.3;
.right
  text-align: right;

.blue
  color #0086E6  

.inline-block
  display inline-block
  vertical-align: top;
  width: 100%; 
/**========================common end=========================***/
/**========================header start=========================***/
.mail
  &__header
    background-color: #0086E6
    //padding: 0 15px;
    width: 100%
    td
      .container
        td
          //padding 20px 15px
          &.logo
            padding-right: 143px;
            padding-left: 0;
            padding-top: 13px;
            padding-bottom: 14px;
/**========================header end=========================***/
/**========================hello start=========================***/
.mail
  &__hello
    //padding: 10px 15px;
    background-color: #ffffff
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    width: 100%
    td
      &.check
        padding 3px 1px
      &.hola
        padding: 12px 15px 0
        letter-spacing: 1px;
        line-height: 12px;
      &.confirm
        font-size: 14px;
        padding: 0px 15px 4px
/**========================hello end=========================***/

/**========================content-main start=========================***/
.inner-top
  padding 0px 2px
.content-main
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  max-width: 540px;
  background-color: #ffffff;
  width 100%

.content-top
  //padding 24px 21px 0
  background-color: #ffffff
  .pic
    padding-top: 17px;
    padding-left: 3px;
    padding-right 0
    width 41%
  .title
    line-height: 18px;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding-top 20px
    padding-right: 21px
    padding-bottom: 8px;
  .desc
    color: #000000;
    opacity: 0.3;
    line-height: 21px;
    font-size: 14px;
    padding 0 0 0 0
  .help
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 14px;
    color: #000000;
    mix-blend-mode: normal;
    font-weight: 600;
    .time
      width 23px
      padding 3px 0px 3px 0
    .lang
      width 23px
      padding 14px 0px 7px 0
    img 
      padding-right (22/6)+'%'

.content-middle
  //padding 0 21px 11px
  background-color: #ffffff
  width 100%
.info
  line-height: 36px;
  font-size: 14px;
  text-align: left;
  color: #000000;
  .left
    padding-left: 17px;
  .right
    padding-right: 14px;
.total
  line-height: 25px;
  font-size: 18px;
  .price
    color #0086E6
    padding 5px 15px 23px 2px
  .total-text
    padding 5px 21px 23px 2px

.title-inner
  max-width: 540px;
  td
    padding: 46px 0 14px
    line-height: 25px;
    font-size: 18px;

/**========================content-main end=========================***/


/**========================title-inner start=========================***/
.title-inner
  background-color transparent
  max-width: 540px;

/**========================title-inner end=========================***/

/**========================content-bottom end=========================***/

.content-bottom
  //padding 15px 21px
  background-color: #ffffff
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  max-width: 540px;
  width: 100%
  .info
    line-height: 15px;
    .left
      padding 25px 0 0px 21px
    .right
      padding: 25px 17px 0px 0
    &:last-child
      td
        padding-bottom: 20px;
/**========================content-bottom end=========================***/


/**========================message start=========================***/
.message
  td
    padding: 33px 46px 0
    line-height: 20px;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.02em;

/**========================message end=========================***/

/**========================footer start=========================***/
table
  &.footer
    width: 100%
    background-color: #0086E6
    border: 0.5px solid #FFFFFF;
    td
      line-height: 14px;
      font-size: 16px;
      color: #FFFFFF;
      text-align: center
      padding 19px 0
      font-weight: 500
      letter-spacing: 0.05em;


/**========================footer end=========================***/

