@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  margin: 0 !important;
  padding: 0;
  background-color: #f7f7f7;
  width: 100%;
  margin: 0 auto;
  background: #f7f7f7;
  font-family: Arial;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
img {
  border: 0;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  margin: 0 auto;
}
td {
  padding: 0;
  Margin: 0;
}
table {
  border-spacing: 0;
  font-family: sans-serif;
}
div[style*="margin:16px0"] {
  margin: 0 !important;
}
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.webkit {
  max-width: 600px;
  margin: 0 auto;
}
.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  display: table;
}
.container--header table {
  padding: 0 5%;
}
.container--hello .inner-table {
  padding: 0 5%;
}
.col-1 {
  width: 8.333333333333334%;
  padding: 0 15px;
}
.col-2 {
  width: 16.666666666666668%;
  padding: 0 15px;
}
.col-3 {
  width: 25%;
  padding: 0 15px;
}
.col-4 {
  width: 33.333333333333336%;
  padding: 0 15px;
}
.col-5 {
  width: 41.666666666666664%;
  padding: 0 15px;
}
.col-6 {
  width: 50%;
  padding: 0 15px;
}
.col-7 {
  width: 58.333333333333336%;
  padding: 0 15px;
}
.col-8 {
  width: 66.66666666666667%;
  padding: 0 15px;
}
.col-9 {
  width: 75%;
  padding: 0 15px;
}
.col-10 {
  width: 83.33333333333333%;
  padding: 0 15px;
}
.col-11 {
  width: 91.66666666666667%;
  padding: 0 15px;
}
.col-12 {
  width: 100%;
  padding: 0 15px;
}
/***===========================common start==========================**/
.center {
  margin: 0 auto;
  text-align: center;
}
.content-wrap {
  padding: 27px 15px 6px;
}
.spacer-table {
  background-color: #fff;
}
.spacer-table td {
  padding-left: 22px;
}
.spacer-table td.pic {
  padding-left: 0;
}
.spacer {
  width: 100%;
  opacity: 0.05;
  border-top: 1px solid #000;
  margin: 0;
}
.spacer-td td {
  padding: 0px 17px 2px;
}
.spacer-td2 td {
  padding: 7px 0 11px;
}
.gray {
  opacity: 0.3;
}
.right {
  text-align: right;
}
.blue {
  color: #0086e6;
}
.inline-block {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}
/**========================common end=========================***/
/**========================header start=========================***/
.mail__header {
  background-color: #0086e6;
  width: 100%;
}
.mail__header td .container td.logo {
  padding: 19px 0;
}
/**========================header end=========================***/
/**========================hello start=========================***/
.mail__hello {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 25px rgba(0,0,0,0.1);
          box-shadow: 0px 4px 25px rgba(0,0,0,0.1);
  width: 100%;
}
.mail__hello td.check {
  padding: 10px 0;
}
.mail__hello td.hola {
  padding: 10px 0 0;
  letter-spacing: 1px;
  line-height: 12px;
}
.mail__hello td.confirm {
  font-size: 14px;
  padding: 4px 0 2px 0;
  Margin: 0;
}
/**========================hello end=========================***/
/**========================content-main start=========================***/
.inner-top {
  padding: 0px 2px;
  Margin: 0 auto;
}
.content-main {
  -webkit-box-shadow: 0px 4px 25px rgba(0,0,0,0.1);
          box-shadow: 0px 4px 25px rgba(0,0,0,0.1);
  max-width: 540px;
  background-color: #fff;
  width: 100%;
}
.content-top {
  background-color: #fff;
}
.content-top .pic {
  padding-top: 17px;
  padding-left: 3px;
  padding-right: 0;
  width: 41%;
}
.content-top .title {
  line-height: 18px;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding-top: 20px;
  padding-right: 21px;
  padding-bottom: 8px;
}
.content-top .desc {
  color: #000;
  opacity: 0.3;
  line-height: 21px;
  font-size: 14px;
  padding: 0 0 0 0;
}
.content-top .help {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 14px;
  color: #000;
  mix-blend-mode: normal;
  font-weight: 600;
}
.content-top .help .time {
  width: 23px;
  padding: 3px 0px 3px 0;
}
.content-top .help .lang {
  width: 23px;
  padding: 14px 0px 7px 0;
}
.content-top .help img {
  padding-right: 3.666666666666667%;
}
.content-middle {
  background-color: #fff;
  width: 100%;
}
.info {
  line-height: 36px;
  font-size: 14px;
  text-align: left;
  color: #000;
}
.info .left {
  padding-left: 17px;
}
.info .right {
  padding-right: 14px;
}
.total {
  line-height: 25px;
  font-size: 18px;
}
.total .price {
  color: #0086e6;
  padding: 5px 15px 23px 2px;
}
.total .total-text {
  padding: 5px 21px 23px 2px;
}
.title-inner {
  max-width: 540px;
}
.title-inner td {
  padding: 46px 0 14px;
  line-height: 25px;
  font-size: 18px;
}
/**========================content-main end=========================***/
/**========================title-inner start=========================***/
.title-inner {
  background-color: transparent;
  max-width: 540px;
}
/**========================title-inner end=========================***/
/**========================content-bottom end=========================***/
.content-bottom {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 25px rgba(0,0,0,0.1);
          box-shadow: 0px 4px 25px rgba(0,0,0,0.1);
  max-width: 540px;
  width: 100%;
}
.content-bottom .info {
  line-height: 15px;
}
.content-bottom .info .left {
  padding: 25px 0 0px 21px;
}
.content-bottom .info .right {
  padding: 25px 17px 0px 0;
}
.content-bottom .info:last-child td {
  padding-bottom: 20px;
}
/**========================content-bottom end=========================***/
/**========================message start=========================***/
.message td {
  padding: 33px 46px 0;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
}
/**========================message end=========================***/
/**========================footer start=========================***/
table.footer {
  width: 100%;
  background-color: #0086e6;
  border: 0.5px solid #fff;
}
table.footer td {
  line-height: 14px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  padding: 19px 0;
  font-weight: 500;
  letter-spacing: 0.05em;
}
/**========================footer end=========================***/
