doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    link(rel='stylesheet', type='text/css', href='./css/bundle.min.css', data-embed)
    //if (gte mso 9)|(IE)
      style(type='text/css').
        table {border-collapse: collapse;}
  body
    table.mail__header(style="display:table;")
      tbody.container
        tr
          td(width="51%")
            img(src="./img/logo.png", width="141", height="18")
          td(width="11%%")
            img(src="./img/sm/in.png", width="17", height="17")
          td(width="12.5%%")
            img(src="./img/sm/ib.png", width="21", height="19")
          td(width="12.5%%")
            img(src="./img/sm/fb.png", width="20", height="19")
          td(width="13%%")
            img(src="./img/sm/tw.png",width="22", height="18")
    //- table.mail__hello
    //-   tbody.container
    //-     tr
    //-       td.check(rowspan="2", width="14%")
    //-         img(src="./img/helpers/success.png", width="54", height="54")
    //-       td.hola
    //-         b Hola Holly!
    //-     tr
    //-       td.confirm Tu reserva ha quedado cofirmada.
    //- table.content-wrap(align="center")
    //-   tbody.container
    //-     tr
    //-       td.inner-top
    //-         table.content-main
    //-           tr
    //-             td
    //-               table.content-top
    //-                 tr
    //-                   td.pic(rowspan="4", width="35%")
    //-                     img(src="./img/pic.png", width="183", height="141")
    //-                   td.title 
    //-                     b Vatican Museums, Sistine Chapel & St Peter’s
    //-                 tr
    //-                   td.desc Madrid, Spain
    //-                 tr
    //-                   td.help(valign="center")
    //-                     table
    //-                       tr
    //-                         td.lang
    //-                           img(src="./img/helpers/lang.png", width="20", height="20")
    //-                         td English

    //-                       tr
    //-                         td.time(valign="center")
    //-                           img(src="./img/helpers/time.png", width="20", height="20")
    //-                         td 60hrs
    //-                 tr
    //-                 tr.spacer-td
    //-                   td(colspan="2")
    //-                     hr.spacer
    //-               table.content-middle
    //-                 tr.info
    //-                   td.gray.left Numero de reserva
    //-                   td.right 550994
    //-                 tr.info
    //-                   td.gray.left Fecha
    //-                   td.right Sabado, 3 de junio de 2017
    //-                 tr.info
    //-                   td.gray.left Hora
    //-                   td.right 10:00 Horas
    //-                 tr.info
    //-                   td.gray.left Numero de personas
    //-                   td.right 2
    //-                 tr.spacer-td2
    //-                   td(colspan="2")
    //-                     hr.spacer
    //-                 tr.total
    //-                   td.total-text
    //-                     b Precio total
    //-                     span.gray  (impuestos incluidos)
    //-                   td.price.right
    //-                     b €25
    //-         table.title-inner
    //-           tr
    //-             td Datos del proveedor
    //-         table.content-bottom
    //-           tr.info
    //-             td.gray.left Nombre
    //-             td.right Cultourberlin
    //-           tr.info
    //-             td.gray.left Correo electronico
    //-             td.right.blue reservas@cultourberlin.com
    //-           tr.info
    //-             td.gray.left Telefono de emergencia
    //-             td.right.blue (+49) 177 652 2171
    //-         table.message
    //-           tr
    //-             td En breve recibirás tu comprobante, el cual podrás imprimir o llevarlo en tu móvil o tablet.
    //- table.footer
    //-   tbody.container
    //-     tr
    //-       td Gracias por confiar en Civitours