doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    // [if !mso] <!
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    // <![endif]
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title
    link(rel='stylesheet', type='text/css', href='./css/bundle.min.css', data-embed)
    //if (gte mso 9)|(IE)
      style(type='text/css').
        table {border-collapse: collapse;}
  body(bgcolor="#f7f7f7")
    .center
      table.mail__header
        tr
          td
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0 30px">
            <tr>
            <td>
            <![endif]-->
            .container.center.container--header
              table.inner-table(width="100%")
                tr
                  td.logo(width="57.5%", align="left", style="width:57.5%")
                    img(src="./img/logo.png", width="141", height="18")
                  td(width="12.5%", align="left", style="width:12%")
                    img(src="./img/sm/in.png", width="17", height="17")
                  td(width="14%", align="left", style="width:13%")
                    img(src="./img/sm/ib.png", width="21", height="19")
                  td(width="10%", align="left", style="width:12%")
                    img(src="./img/sm/fb.png", width="20", height="19")
                  td(width="11%", align="right", style="width:5.5%")
                    img(src="./img/sm/tw.png",width="22", height="18")
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
      table.mail__hello
        tr
          td
            <!--[if (gte mso 9)|(IE)]>
            <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="text-align: left;padding: 0 30px">
            <tr>
            <td>
            <![endif]-->
            .container.container--hello(style="text-align: left")
              table.inner-table(width="100%", bgcolor="#ffffff", align="left", cellpadding="0" cellspacing="0" border="0")
                tr
                  td(width="14%")
                    <!--[if (gte mso 9)|(IE)]>
                    <table width="13%" cellpadding="0" cellspacing="0" border="0" align="left" style="padding: 0; text-align: left;">
                    <tr>
                    <td>
                    <![endif]-->
                    .inline-block(style="width:71px;")
                      table(width="100%", bgcolor="#ffffff", align="left", cellpadding="0" cellspacing="0" border="0")
                        tr
                          td.check(width="71", align="left")
                            img(src="./img/helpers/success.png", width="54", height="54")
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
                  td
                    <!--[if (gte mso 9)|(IE)]>
                    <table width="250" cellpadding="0" cellspacing="0" border="0" align="left"style="padding: 0; text-align: left;">
                    <tr>
                    <td>
                    <![endif]-->
                    .inline-block
                      table(width="100%", bgcolor="#ffffff", align="left", cellpadding="0" cellspacing="0" border="0")
                        tr
                          td.hola(align="left", bgcolor="#ffffff")
                            b Hola Holly!
                        tr
                          td.confirm(align="left") Tu reserva ha quedado cofirmada.
                    <!--[if (gte mso 9)|(IE)]>
                    </td>
                    </tr>
                    </table>
                    <![endif]-->
            <!--[if (gte mso 9)|(IE)]>
            </td>
            </tr>
            </table>
            <![endif]-->
      <!--[if (gte mso 9)|(IE)]>
      <table width="100%" height="27" align="center" cellpadding="0" cellspacing="0" border="0">
      <tr>
      <td width="100%" height="27">
      </td>
      </tr>
      </table>
      <![endif]-->
      table.content-wrap(align="center", width="100%", cellpadding="0" cellspacing="0" border="0", style="padding-top:32px;" )
          tr
            td.inner-top
              <!--[if (gte mso 9)|(IE)]>
              <table width="540" cellpadding="0" cellspacing="0" border="0" align="center" style="">
              <tr>
              <td>
              <![endif]-->
              .container(style="max-width: 540px;")
                table.content-main(bgcolor="#ffffff")
                  tr
                    td
                      table.content-top(width="100%")
                        tr
                          td.center
                            <!--[if (gte mso 9)|(IE)]>
                            <table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
                            <tr>
                            <td width="205">
                            <![endif]-->
                            .inline-block(style="max-width: 183px;padding; 0")
                              table(width="100%")
                                tr
                                  td.pic(width="205", align="center")
                                    img(src="./img/pic.png", width="183", height="141")
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            <td width="260">
                            <![endif]-->
                            .inline-block(style="max-width: 260px;padding:0 24px")
                              table(width="100%")
                                tr
                                  td.title(width="296", align="left")
                                    b Vatican Museums, Sistine Chapel & St Peter’s
                                tr
                                  td.desc(align="left") Madrid, Spain
                                tr
                                  td.help(valign="center", align="left", bgcolor="#ffffff")
                                    table(bgcolor="#ffffff", width="100%", height="100%", align="center")
                                      tr
                                        td.lang(valign="center", bgcolor="#ffffff")
                                          img(src="./img/helpers/lang.png", width="20", height="20")
                                        td(bgcolor="#ffffff") English
                                      tr
                                        td.time(valign="center", bgcolor="#ffffff")
                                          img(src="./img/helpers/time.png", width="20", height="20")
                                        td(bgcolor="#ffffff") 60hrs
                                      tr
                                        td(colspan="2")
                            <!--[if (gte mso 9)|(IE)]>
                            </td>
                            </tr>
                            </table>
                            <![endif]-->
                        tr
                          td.spacer-td(colspan="2")
                            hr.spacer
                      table.content-middle
                        tr.info
                          td.gray.left Numero de reserva
                          td.right 550994
                        tr.info
                          td.gray.left Fecha
                          td.right Sabado, 3 de junio de 2017
                        tr.info
                          td.gray.left Hora
                          td.right 10:00 Horas
                        tr.info
                          td.gray.left Numero de personas
                          td.right 2
                        tr
                          td.spacer-td2(colspan="2")
                            hr.spacer
                        tr.total
                          td.total-text(align="left")
                            b Precio total
                            span.gray  (impuestos incluidos)
                          td.price.right(align="right")
                            b €25
                table.title-inner
                  tr
                    td Datos del proveedor
                table.content-bottom(bgcolor="#fff" valign="middle")
                  tr.info
                    td.gray.left Nombre
                    td.right Cultourberlin
                  tr.info
                    td.gray.left Correo electronico
                    td.right.blue reservas@cultourberlin.com
                  tr.info
                    td.gray.left Telefono de emergencia
                    td.right.blue (+49) 177 652 2171
                table.message
                  tr
                    td En breve recibirás tu comprobante, el cual podrás imprimir o llevarlo en tu móvil o tablet.
              <!--[if (gte mso 9)|(IE)]>
              </td>
              </tr>
              </table>
              <![endif]-->

      table.footer
        tbody.container
          tr
            td Gracias por confiar en Civitours